$black = #212121;
$red = #FF5722;
$main_blue1 = rgb(0, 188, 212)
$main_blue2 = #0097A7
$main_blue3 = #B2EBF2
$opacity_white = rgba(255, 255, 255, 0.9)
$box_shadow = rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px

@import "../imports/ui/styles/reset.styl"
@import "../imports/ui/styles/general.styl"

@import "../imports/ui/styles/libs/bert_alert.styl"

@import "../imports/ui/styles/partials/navigator.styl"
@import "../imports/ui/styles/partials/player.styl"
@import "../imports/ui/styles/partials/categories.styl"
@import "../imports/ui/styles/partials/my_radio.styl"

